@media (min-width: 990px) {
  .over_auto {
    position: fixed !important;
    width: 500px;
  }
}
.text-c {
  text-transform: capitalize;
}
.jb {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
#f1_container {
  position: relative;
  height: 280px;
  cursor: pointer;
  perspective: 1000;
}
#f1_card,
.face {
  width: 100%;
  height: 100%;
}
#f1_container:hover .back {
  opacity: 0.9;
}
.face {
  position: absolute;
  backface-visibility: hidden;
}
.back {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  color: #fff;
  text-align: center;
  opacity: 0;
  background-color: #000;
  transition: all ease 700ms;
}
.img_bg {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 280px;
  position: relative;
}
.b_cont,
.mega {
  position: absolute;
}
.b_cont {
  bottom: 0;
  background: rgba(0, 0, 0, 0.91);
}
.mega {
  top: -18px;
  font-size: 12px;
  right: 0;
  color: #fff;
  padding: 0 15px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #9c27b0, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
}
.mt-80 {
  margin-top: 80px;
}
.no-border {
  border-radius: 0 !important;
}
.row {
  max-width: 1440px;
  margin: auto;
}
.social_i {
  font-size: 25px;
  color: #9c9c9c;
  margin: 0 5px;
}
.ic {
  width: 15px;
  margin-bottom: 3px;
}
.social_i:hover {
  color: #fff;
}
.absb {
  position: absolute;
  top: -62px;
}
.bg-light {
  background-color: #2b2b2b !important;
  color: #d6d6d6;
}
hr {
  background: #797979;
}
.card {
  color: #333;
}
.bg-primary,
.progress-bar {
  background-color: #f44336 !important;
}
.btn-info {
  background-color: #353535;
  border-color: #333;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #5c5d5f;
  opacity: 1;
}
.heart_beat {
  color: red;
  -webkit-animation: 0.8s infinite beatHeart;
  animation: 0.8s infinite beatHeart;
}
@-webkit-keyframes beatHeart {
  0%,
  40%,
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%,
  60% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes beatHeart {
  0%,
  40%,
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%,
  60% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.faq_title {
  border: 1px solid #fff;
  padding: 3px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}
.coming_soon {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #9c27b0, #23d5ab);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
  font-weight: 700;
}
.cover,
.cover_2 {
  background-size: cover !important;
}
.cover {
  background: url(/modules/core/client/img/cover.jpg);
  min-height: 600px;
}
.cover_2 {
  background: url(/modules/core/client/img/cover_2.jpg);
  color: #cecece;
  min-height: 500px;
}
.p_man {
  position: absolute;
  top: -280px;
  left: 0;
}
.b-black,
.bg-black {
  background-color: #000;
}
.logo {
  width: 180px;
}
.bhead {
  font-size: 95px;
  color: #fff;
}
.bold {
  color: #545454;
  font-weight: 600;
  font-size: 18px;
}
.sw {
  font-size: 11px;
  margin-top: 5px;
  font-weight: 500;
}
.br {
  font-weight: 600;
  color: #f44336;
}
.h-3 {
  height: 35px !important;
}
.c_p_l {
  display: none;
}
@media (max-width: 575px) {
  .c_p_p {
    /* display: none; */
  }
  .c_p_l {
    display: block;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.poster:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  to {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.text-6 {
  font-size: 18px;
}
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  to {
    background-position: 468px 0;
  }
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  to {
    background-position: 468px 0;
  }
}
.animated-background {
  height: 96px;
}
.animated-background,
.load_div,
.load_div1 {
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #313131;
  background: linear-gradient(to right, #4e4e4e 8%, #525252 18%, #313131 33%);
  background-size: 800px 104px;
  position: relative;
}
.load_div {
  height: 220px;
}
.load_div1 {
  height: 25px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin: 0;
}
.undecorated-link:hover {
  text-decoration: none;
}
.ng-cloak,
.x-ng-cloak,
[ng-cloak],
[ng\:cloak],
[x-ng-cloak] {
  display: none !important;
}
.statistic {
  padding-top: 57px;
}
.statistic__item {
  background: #fff;
  padding: 20px 30px;
  position: relative;
  min-height: 180px;
  overflow: hidden;
  margin-bottom: 40px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .statistic__item {
    padding: 20px 10px;
  }
}
.statistic__item h2 {
  font-size: 36px;
  font-weight: 300;
  color: #4272d7;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .statistic__item h2 {
    font-size: 22px;
  }
}
.statistic__item .desc {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  color: rgba(128, 128, 128, 0.6);
}
@media (min-width: 992px) and (max-width: 1199px) {
  .statistic__item .desc {
    font-size: 13px;
  }
}
.statistic__item .icon {
  display: inline-block;
  position: absolute;
  bottom: -50px;
  right: -7px;
}
.statistic__item .icon i {
  font-size: 180px;
  color: gray;
  opacity: 0.2;
  line-height: 1;
  vertical-align: baseline;
}
.statistic__item--green {
  background: #00b26f;
}
.statistic__item--orange {
  background: #ff8300;
}
.statistic__item--blue {
  background: #00b5e9;
}
.statistic__item--red {
  background: #fa4251;
}
.statistic2 {
  padding-top: 50px;
}
.statistic2 .statistic__item {
  border: 0;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.03);
}
.statistic2 .statistic__item h2 {
  color: #fff;
}
.statistic2 .statistic__item .desc {
  color: rgba(255, 255, 255, 0.6);
}
.au-card {
  padding: 40px 35px 40px 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
  color: #000000;
  overflow: hidden;
  transform: scale(0.95);
  font-size: 90%;
}
.au-card--border,
.statistic2 .statistic__item {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.au-card--border .au-card-title,
.au-card--border .au-card-title .bg-overlay {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
}
.au-card-bordered {
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 42px 55px 40px 40px;
  margin-bottom: 40px;
}
.au-card--bg-blue {
  background-image: -moz-linear-gradient(90deg, #396afc 0%, #2948ff 100%);
  background-image: -webkit-linear-gradient(90deg, #396afc 0%, #2948ff 100%);
  background-image: -ms-linear-gradient(90deg, #396afc 0%, #2948ff 100%);
}
.au-card-top-countries {
  padding: 25px 40px 29px;
}
.au-card--no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.au-card--no-pad {
  padding: 0;
}
.au-card-title {
  position: relative;
  padding: 45px 40px 47px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.au-card-title,
.au-card-title .bg-overlay {
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}
.au-card-title h3 {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 400;
}
.au-card-title h3 i {
  color: #fff;
  font-size: 24px;
  margin-right: 12px;
}
.title--sbold {
  font-weight: 600;
}
.title-1,
.title-2,
.title-3 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 30px;
}
.title-2,
.title-3 {
  font-size: 24px;
}
.title-2 {
  line-height: 1;
}
.title-3 {
  color: #fff;
}
.title-3 i {
  margin-right: 13px;
  vertical-align: baseline;
}
.title-4 {
  font-weight: 500;
  font-size: 30px;
  color: #393939;
}
.table-earning thead th,
.title-5 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.heading-title,
.title-6 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.heading-title {
  color: #333;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.table {
  margin: 0;
  font-size: 13px;
}
p > i,
td > i {
  font-size: 11px;
}
.table-responsive.table--no-card {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.table-earning thead th {
  background: #333;
  font-size: 12px;
  vertical-align: middle;
  font-weight: 400;
  line-height: 1;
  padding: 10px 5px;
  white-space: nowrap;
}
.table-earning tbody td.text-right,
.table-earning thead th.text-right {
  padding-left: 15px;
  padding-right: 65px;
}
.table-earning tbody td {
  color: gray;
  padding: 12px 0;
  white-space: nowrap;
}
.table-earning tbody tr:hover td {
  color: #555;
  cursor: pointer;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #080707;
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: white;
  color: black;
}
.table-top-countries tbody td {
  white-space: nowrap;
  font-size: 14px;
  color: #fff;
  padding: 14px 5px;
  border-top: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.table-style1 .table tr:last-child td,
.table-top-countries tbody tr:last-child td {
  border-bottom: none;
}
.table-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (min-width: 992px) and (max-width: 1519px) {
  .table-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .table-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.table-style1 {
  max-width: 280px;
  margin-bottom: 30px;
}
.table-style1 .table tr td:last-child {
  padding-right: 30px;
}
.table-data .table td,
.table-style1 .table td {
  border-top: none;
  border-bottom: 1px solid #f2f2f2;
}
.table-style1 .table td {
  font-size: 14px;
  color: gray;
  vertical-align: middle;
  padding: 12px 6px;
}
.table-data {
  height: 472px;
  overflow-y: auto;
}
.table-data thead tr td {
  font-size: 12px;
  font-weight: 600;
  color: gray;
  text-transform: uppercase;
}
.table-data .table td {
  padding: 23px 10px 33px 40px;
}
.table-data .table tr td:last-child {
  padding-right: 24px;
}
.table-data tbody tr:hover td .more {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.table-data__info h6 {
  font-size: 14px;
  color: gray;
  text-transform: capitalize;
  font-weight: 400;
}
.table-data__info span a {
  font-size: 12px;
  color: #999;
}
.table-data__info span a:hover {
  color: #666;
}
.list-unstyled {
  text-decoration: none;
  color: #7386d5;
}
#sidebar ul li a:hover,
.components > li > a {
  color: #fff;
  text-decoration: none;
}
.components > li > a:hover {
  color: #7386d5;
}
.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
.fixed-top {
  z-index: 1;
}
.side_b {
  background: #000;
  border-color: #333;
}
.side_b:hover {
  background: #222;
}
@media (min-width: 992px) {
  #sidebar {
    left: 0 !important;
  }
  #content {
    padding-left: 250px !important;
  }
  .overlay.active {
    display: none !important;
    opacity: 0 !important;
  }
  #dismiss,
  .side_b {
    display: none;
  }
  .fixed-top {
    z-index: 999 !important;
  }
}
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 999;
  background: white;
  color: black;
  transition: all 0.3s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
#sidebar.active {
  left: 0;
}
#content,
#dismiss {
  transition: all 0.3s;
  position: absolute;
}
#dismiss {
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #151414;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  width: 35px;
  top: 10px;
  right: 10px;
}
#dismiss:hover {
  background: #0e0e0e;
  color: #fff;
}
.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}
.sidebar-header {
  padding: 10px;
  background: #c61d24;
}
#sidebar ul.components {
  padding: 20px 0;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  text-decoration: none;
  color: black;
}
#sidebar ul li a:hover {
  background: rgb(255, 0, 0, 0.1);
  color: #c61d24;
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  /* background: rgb(235, 235, 235); */
  background: rgb(255, 0, 0, 0.1);
  color: #c61d24;
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
ul ul a,
ul.CTAs a {
  font-size: 0.9em !important;
}
ul ul a {
  padding-left: 30px !important;
  background: #131313;
  color: #fff;
}
ul.CTAs {
  padding: 20px;
}
ul.CTAs a {
  text-align: center;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
a.download {
  background: #fff;
  color: #7386d5;
}
a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}
#content {
  width: 100%;
  min-height: 100vh;
  top: 0;
  right: 0;
  padding-top: 68px;
}
@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-add-remove-account {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.user-profile-picture {
  max-height: 150px;
  min-height: 150px;
}
.social-button {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.social-button:hover {
  opacity: 0.65;
}
.register_back {
  height: 100%;
  display: flex;
  min-height: 100vh;
  padding: 0 6px;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
  0%,
  to {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
@-moz-keyframes Gradient {
  0%,
  to {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
@keyframes Gradient {
  0%,
  to {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.regcard {
  margin: auto;
  height: 100%;
}
.rimg {
  max-width: 200px;
  margin-bottom: 10px;
}
.form-control {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #171515;
  color: #c3c3c3;
  font-size: 13px;
  height: 45px;
}
.mt-2 {
  margin-top: 4px;
}
label {
  color: #b1b1b1;
}
.pbutton {
  padding: 11px 34px;
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  color: #fff;
  background: #004472;
  margin: 3px 5px;
}
.pbutton:focus,
.pbutton:hover {
  color: #fff;
}
.sbutton {
  padding: 11px 34px;
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  background: #ccc;
  margin: 3px 5px;
}
.sbutton,
.sbutton:hover {
  color: #666;
}
.cb {
  cursor: pointer;
}
.g-recaptcha {
  display: inline-block;
}
.mt-3 {
  margin-top: 3%;
}
.loadercontainer {
  position: fixed;
  background: rgba(0, 68, 115, 0.2196078431372549);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.loader {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.agree {
  font-size: 10px;
}
.icon-bar {
  background-color: #777;
}
.navbar-brand {
  padding: 10px 15px;
}
.token_nav {
  border: 2px dotted #e2e2e2cc;
  padding: 10px;
}
.token_link {
  color: #666;
}
.token_link:focus,
.token_link:hover {
  text-decoration: none;
}
.token_active {
  border: 2px solid #8e8e8e;
  background: #f3f1f1;
}
.copy,
.copy:focus,
.copy:hover {
  border: 2px solid #004371;
  background: #004472;
  color: #fff;
  font-size: 15px;
}
.coin_select {
  width: 25%;
  text-align: right;
  padding: 6px 0;
  font-size: 15px;
  border: 2px solid #ccc;
  border-radius: 0 12px 12px 0;
  outline: 0;
  cursor: pointer;
  border-left: 0;
}
.error-text {
  color: #e91e63;
}
.sactive {
  left: 0 !important;
  overflow: hidden;
}
.success-checkmark {
  width: 80px;
  height: 115px;
  margin-left: 67px;
}
.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4caf50;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::after,
.success-checkmark .check-icon::before {
  content: "";
  height: 100px;
  position: absolute;
  background: #fff;
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4caf50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #fff;
}
@keyframes rotate-circle {
  0%,
  5% {
    transform: rotate(-45deg);
  }
  12%,
  to {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0%,
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  to {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0%,
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0;
    top: 35px;
  }
  to {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #219e26;
  border-color: #333;
}
.promo_code {
  border: 5px dashed #777;
  padding: 10px 0;
}
.nav-tabs {
  border-bottom: 0;
}
.nav-link:hover {
  border: 0;
}
.nav-link {
  color: #fff !important;
  font-weight: 600;
}
.nav-link.active {
  border: 0;
  border-bottom: 5px solid #dcdcdc !important;
}
.card > .head > h2 {
  font-family: raleway;
}
.featureList,
.featureList ul {
  margin-top: 0;
  padding-left: 2em;
  list-style-type: none;
}
.featureList li:before {
  position: absolute;
  margin-left: -1.3em;
  font-weight: 700;
}
.featureList li.tick:before {
  content: "\2713";
  color: #006400;
}
.featureList li.cross:before {
  content: "\2717";
  color: #dc143c;
}
.border-b-g {
  border-bottom: 8px solid;
}
.close_b {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #666;
  font-size: 25px;
}
.bg-silver {
  color: #333;
  background: linear-gradient(139deg, #ccc 0%, #eaeaea 27%, #deddd2 72%);
}
.bg-gold {
  color: #795548;
  background: linear-gradient(139deg, #f3e250 0%, #fffb70 27%, #ffef00 72%);
}
.bg-platinum {
  color: #4e4c52;
  background: linear-gradient(139deg, #efefef 0%, #fff 27%, #e8e8e8 72%);
}
.pshadow {
  box-shadow: 1px 1rem 2rem 0 #000;
}
.scratch_card {
  background: #fff6ab;
  border: 4px dashed #ce0000;
  height: 240px;
  border-radius: 4px;
  position: relative;
}
.scratch_img {
  opacity: 1;
  transition: all ease 0.5s;
}
.scratch_img_op {
  opacity: 0.1;
}
.abs_center {
  position: absolute;
  width: 100%;
  top: 35%;
  text-align: center;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cont {
  border: 3px solid #ff0;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.canvas {
  position: absolute;
  top: 0;
}
.form {
  padding: 20px;
}
.premium {
  position: absolute;
  top: 5px;
  color: #fff;
  padding: 2px 15px;
  background: linear-gradient(139deg, #673ab7 0%, #5c73f3 27%, #3f51b5 72%);
}
